<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{bootstrap.html}"></div>
</head>
<body>
<h1>SIGN IN PAGE</h1>
<form th:action="@{'/auth'}" method="post">
    <input type="email" placeholder="Insert email:" name="user_email">
    <input type="password" placeholder="Insert password:" name="user_password">
    <button class="btn btn-primary">SIGN IN</button>
</form>
<a th:href="@{'/sign-up'}">SIGN-UP</a>
</body>
</html>